body {
    padding: 10px;
}

.listing{
    display: flex;
    border: solid gray;
    gap: 10px;
    padding: 16px;
    margin: 10px;
    flex-wrap: wrap;
}

.coreListing{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: right;
    margin-left: 8px;
    padding-left: 12px;
    border-left: solid 2px rgb(150, 150, 150);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

img{
    width: 230px;
    overflow: hidden;
    max-height: 500px;
}

input{
    margin: 5px 0px;
}

a{
    color: black;
    text-decoration: none;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 8px;
    padding-left: 12px;
    border-left: solid 2px rgb(150, 150, 150);
}

.ItemImg{
    width: 280px;
    max-height: 500px;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newComment{
    padding: 16px;
    margin: 10px;
    border: solid gray;
    border-radius: 15px;
    margin-top: 25px;
}

.price{
    display: flex;
    gap: 20px;
    align-items: center;
}

.newBid{
    display: flex;
    gap: 5px;
    padding: 4px;
    border: solid 1px gray;
    border-radius: 10px;
}

.newBid, .delate {
    margin-top: auto;
    
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: auto;
    align-items: center;
}