{% extends "auctions/layout.html" %}

{% block body %}
<div class="listing" >
    <img class="ItemImg" src="{{ auction.picture }}"  default="Auction picture">
    
    <div class="coreListing">
        <div>{{auction.name}}</div>
        <div>Price: {{auction.sprice}} £</div>
        <div>{{auction.description}}</div>
    </div>    
</div>
{% for comment in comments %}
<div class="comments" >
    <div class="coreListing">
        <div>{{comment.userName}}</div>
        <div>{{comment.comment}}</div>
    </div>    
</div-->
{% endfor %}

{% endblock %}