{% extends "auctions/layout.html" %}

{% block body %}
<div class="listing" >
    <img class="ItemImg" src="{{ auction.picture }}"  default="Auction picture">
    
    <div class="coreListing">
        <div>{{auction.name}}</div>
        <div>Price: {{auction.sprice}} £</div>
        <div>{{auction.description}}</div>
    </div>    
</div>

<div class="comments" >
{% for comment in comments %}
    <div class="coreListing">
        <div>{{comment.userName}} - {{comment.commentTime}}</div>
        <div>{{comment.comment}}</div>
    </div>    
{% endfor %}
</div>

<form class="newComment" action="{% url 'item' title=auction.name %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="markdownInput">New comment:</label>
        <textarea class="form-control" type="text" name="newComment"  row="4" col="50" value="Write your comment here" maxlength="500" minlength="3"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Create">
</form>

{% endblock %}