{% extends "auctions/layout.html" %}

{% block body %}
<div class="listing" >
    <img class="ItemImg" src="{{ auction.picture }}" default="Auction picture">   
    <div class="coreListing">
        <div>{{auction.name}}</div>
        <div>Seller: {{auction.userName}}</div>
        <div>Categorie: {{auction.categories}}</div>
        <div class="price">Current Price: {{auction.sprice}} £</div>
        <div>Description: {{auction.description}}</div>

        {% if user.is_authenticated and user.username != auction.userName.username %}
        <div class="buttons">
            <form class="watchlist" action="{% url 'item' title=auction.name %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="watchlist" value="Add to Watchlist">
            </form> 
            <form class="newBid" action="{% url 'item' title=auction.name %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" name="newBid" placeholder="How much ?" maxlength="15" minlength="1">
                <input class="btn btn-primary" type="submit" value="Bid!">
            </form>
            {% if error %}
                <strong style="color: red;">{{error}}</strong>
            {% endif %}
        </div>
        {% else %}
        <form class="delate" action="{% url 'item' title=auction.name %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" name="delate" value="Accept the current price">
        </form>
        {% endif %}
    </div>    
</div>

<div class="comments" >
{% for comment in comments %}
    <div class="coreListing">
        <div>{{comment.userName}} - {{comment.commentTime}}</div>
        <div>{{comment.comment}}</div>
    </div>    
{% endfor %}
</div>

{% if user.is_authenticated %}
<form class="newComment" action="{% url 'item' title=auction.name %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="markdownInput">New comment:</label>
        <textarea class="form-control" type="text" name="newComment"  row="4" col="50" value="Write your comment here" maxlength="500" minlength="3"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Create">
</form>
{% endif %}

{% endblock %}