{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your watchlist</h2>
    {% load static %}

    {% for auction in auctions %}
    <div class="listing" >
        <img src="{{ auction.picture }}"  default="Auction picture">
        
        <div class="coreListing">
            <div><a href="{% url 'item' title=auction.name %}">{{auction.name}}</a></div>
            <div>Price: {{auction.sprice}} £</div>
            <div>{{auction.description|slice:":300"}}</div>
        </div>    
    </div>    
    {% endfor %}

{% endblock %}